$light-bg: rgba(247, 247, 247, 1);
$light-bg-muted: rgba(242, 242, 242, 1);

$light-border: hsl(0, 0%, 85%);

$light-text-primary: hsl(240, 12%, 15%);
$light-text: hsl(240, 12%, 28%);
$light-text-muted: hsl(210, 12%, 60%);
