@import "normalize";
@import "utils";
@import "colors";

@import "card.scss";
@import "header.scss";
@import "view.scss";

body {
  background: $light-bg-muted;
  background: radial-gradient(circle, $light-bg-muted 0%, $light-bg 35%);

  color: $light-text;
  font-family: "cascadia code", "Courier New", Courier, monospace;
}

.container {
  height: 100vh;
  padding: 0 1em;
}

@media screen and (min-width: $breakpoint) {
  .container {
    margin-left: auto;
    margin-right: auto;

    width: $breakpoint;
  }
}
